Source: fonts-symbols-nerd
Section: fonts
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.4
Homepage: https://www.nerdfonts.com
Vcs-Browser: https://github.com/dimitry-ishenko-niri/fonts-symbols-nerd
Vcs-Git: https://github.com/dimitry-ishenko-niri/fonts-symbols-nerd.git

Package: fonts-symbols-nerd
Architecture: all
Depends:
 ${misc:Depends},
Description: Just the Nerd Font Icons
